@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class = "row justify-content-center">
    <div class = "col-md-7 col-lg-5">
        @if(!string.IsNullOrEmpty(Model.Message))
        {
            <div class = "alert alert-warning">
                @Model.Message
                </div>
        }

        @(Model.IsAuthorized)
        {
           <div class="card shadow">
               <div class="card-body text-center">
                   <h2>Здраствуйте,@Model.CurrentUserName!</h2>


                   <div class="d-flex justify-content-center gap-2 mt-3">
                       <a asp-page="/Reader" class = "btn btn-primary">Открыть читалку</a>
                       <form method ="post" asp-page-handler="Logout">
                           <button class = "btn btn-danger">Выйти</button>
                       </form>
                   </div>
               </div>

           </div> 
        }
        else
        {
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="text-center mb-4">TextToSpeech</h2>
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#login" type="button">Вход</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#register" type="button">Регистарция</button>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="login">
                    <form metthod="post" asp-page-handler="Login">
                        <div class="mb-3">
                            <label class="form-label">Логин</label>
                            <input asp-for="LoginLogin" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Пароль</label>
                            <input asp-for="LoginPassword"type="password" class ="form-control" />
                        </div>
                        <button class="btn btn-primary w-100">Войти</button>
                    </form>
                </div>
                <form method="post" asp-page-handler="Register">
                <div class="mb-3">
                            <label class="form-label">Логин</label>
                            <input asp-for="LoginPassword"type="password" class ="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Пароль</label>
                            <input asp-for="RegisterPassword"type="password" class ="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Пароль</label>
                            <input asp-for="RegisterConfirmPassword"type="password" class ="form-control" />
                        </div
                        <button class="btn btn-succed w-100">Зарегистрироваться</button>
                        </form>
            </div>
        }
    </div>
</div>