@page
@model TextToSpeech.Pages.ReaderModel
@{
	ViewData["Title"] = "Читалка";
}
<div class="container-fluid mt-4">
	<div class="row">
		<div class="col-lf-9">
			<h1 class="mb-3">Читалка</h1>
			<div class="alert alert-info">
				Проект расчистан на браузер Microsoft Edge и системные голоса Windows!
			</div>

			<div class="mb-3">
				<label>Текст для озвучки</label>

				<textarea id="text-input">
					class="form-control"
					rows="10">
					Первое предложение.Второе предложение.Третье предложеине завершает пример.
				</textarea>
			</div>
			<div class="mb-3">
				<label class="form-label">Зона чтения</label>
				<div id="text-controller" class ="border rounded p-4 bg-light reading area">
					Нажмите читать чтобы начать
				</div>
			</div>
		</div>
		

			<div class="col-lg-3">
				<div class="control-panel shadow">
					<h4>Управление</h4>
					<div class="mb-3">
						<label class="form-label">Голос</label>
						<select id="voice-select" class="form-contol">
							<option>Загрузка голосов</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Скорость</label>
						<select id="rate-select" class="form-select">
							<option value="0.5">x0.5</option>
							<option value="1"selected>x1.0</option>
							<option value="1.25">x1.25</option>
							<option value="1.5">x1.5</option>
							<option value="2">x2.0</option>
						</select>
					</div>

					<div class="d-grid gap-2">
						<button id="btn-play" class="btn btn-success">Читать</button>
						<button id="btn-play" class="btn btn-warning">Пауза</button>
						<button id="btn-play" class="btn btn-danger">Стоп</button>
						<button id="btn-play" class="btn btn-outline-primary">Назад</button>
						<button id="btn-play" class="btn btn-success">Вперед</button>
					</div>


					<hr/>
						
					<div id="status" class="text-muted">
						Готов к работе
					</div>

				</div>
			</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/reader.js" asp-append-version="true"></script>
}